*{
   padding: 0;
   margin: 0;
}

body {
    background-color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }

#wrapper{
    width: 100vw;
    height: 100vh;
}


.circle-1{
    height: 200px;
    width: 200px;
    position: fixed;
    top:-4;
    left:30%;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    z-index: -100;
    background: linear-gradient(-25deg, #d84869, #f46641);
    animation: circleAnimate 15s infinite;
}
@keyframes circleAnimate {
    50%{
        left:28%;
    }
}


.circle-2{
    height: 250px;
    width: 250px;
    position: fixed;
    bottom:-5%;
    right:25%;
    border-radius: 50%;
    z-index: -100;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: circleAnimation2 15s infinite;
}

@keyframes circleAnimation2 {
    50%{
        bottom: 0%;
        right: 31%;
    }
}


.main{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding:40px;
    border: 2px solid #ffffff30;
    border-radius: 15px;
    justify-content: space-evenly;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    z-index: 10;
}
.img-div img{
    border-radius: 50%;
}

.second-heading{
    color: #8D8D8D;
}

.Btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.share-btn{
    width: 150px;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background: #ffffff1a;
    cursor: pointer;
}
.follow-btn{
    width: 150px;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: #ffffff1a;
    cursor: pointer;
}
.share-btn:hover{
    color: black;
    background: white;
    transition: all 1s;
}
.follow-btn:hover{
    color: black;
    background: white;
    transition: all 1s;
}